/* membuat body berwarna abu abu dan font bertipe arial dan sans-serif ukuran 16px */
body {
    background-color: gray;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* membuat canvas putih di tengah */
.container {
    background-color: white;
    margin: 0 auto;
    width: 900px;
}

/* mengatur jarak dalam header */
.header {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* mengatur judul */
.header .judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* untuk navigasi atau menu atas */
.nav {
    padding: 0px
}

.nav li {
    /* membuat list navigasi menjadi horizontal dan mengatur jarak antar menu */
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/* untuk menghilangkan garis bawah pada link navigasi dan mengatur warna link navigasi */
.nav li a {
    text-decoration: none;
    color: navy;
}

/* membuat animasi saat link navigasi di sorot */
.nav li a:hover {
    background-color: pink;
    color: white;
    transition: 0.5s;
}

/* untuk css banner */
.banner {
    height: 350px;
    /* background-color: lightblue; */
    /* memberikan file gambar */
    background-image: url('../img/banner.jpg');
    /* atur ukuran gambar */
    background-size: cover;
    /* mengatur posisi gambar horizontal dan vertikal */
    background-position: center center;
    background-repeat: no-repeat;
    /* mengatur garis tepi tebal jenis warna */
    border-top: 5px solid pink;
    border-bottom: 5px solid skyblue;
}

/* menambahkan bagian isi  */
.isi {
    padding: 20px;
}

.isi h2 {
    font-size: 30px;
    font-weight: bold;
}

.isi .penulis {
    font-size: 14px;
    /* agar agak naik */
    margin-top: -10px;
}

.isi .penulis a {
    text-decoration: none;
    color: pink;
} 

.isi p {
   font-size: 16px;
   margin-bottom: 10px;
}

/* menambahkan footer */
.footer {
    background-color: skyblue;
    height: 50px;
    padding-top: 10px;
    margin: 0 auto;
    width: 900px;
}


.footer .copyright {
    font-size: 16px;
    color: white;
    text-align: center;
}